<!DOCTYPE html>
<html>

<head>
    <title>
        Ultimate Tic Tac Toe
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet1.css') }}">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
    <div class="welcomeInfo">
        Waiting for players...
    </div>
    <table class="globalBoard">
        <tr>
            <td id="0">            
                <table class="localBoard">
                    <tr>
                        <td id="00" class="field bordered 0"></td>
                        <td id="01" class="field bordered 0"></td>
                        <td id="02" class="field bordered right 0"></td>
                    </tr>
                    <tr>
                        <td id="03" class="field bordered 0"></td>
                        <td id="04" class="field bordered 0"></td>
                        <td id="05" class="field bordered right 0"></td>
                    </tr>
                    <tr>
                        <td id="06" class="field bordered bottom 0"></td>
                        <td id="07" class="field bordered bottom 0"></td>
                        <td id="08" class="field bordered right bottom 0"></td>
                    </tr>
                </table>
            </td>
            <td id="1">
                <table class="localBoard">
                    <tr>
                        <td id="10" class="field bordered 1"></td>
                        <td id="11" class="field bordered 1"></td>
                        <td id="12" class="field bordered right 1"></td>
                    </tr>
                    <tr>
                        <td id="13" class="field bordered 1"></td>
                        <td id="14" class="field bordered 1"></td>
                        <td id="15" class="field bordered right 1"></td>
                    </tr>
                    <tr>
                        <td id="16" class="field bordered bottom 1"></td>
                        <td id="17" class="field bordered bottom 1"></td>
                        <td id="18" class="field bordered right bottom 1"></td>
                    </tr>
                </table>
            </td>
            <td id="2">
                <table class="localBoard">
                    <tr>
                        <td id="20" class="field bordered 2"></td>
                        <td id="21" class="field bordered 2"></td>
                        <td id="22" class="field bordered right 2"></td>
                    </tr>
                    <tr>
                        <td id="23" class="field bordered 2"></td>
                        <td id="24" class="field bordered 2"></td>
                        <td id="25" class="field bordered right 2"></td>
                    </tr>
                    <tr>
                        <td id="26" class="field bordered bottom 2"></td>
                        <td id="27" class="field bordered bottom 2"></td>
                        <td id="28" class="field bordered right bottom 2"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
                <td id="3">            
                    <table class="localBoard">
                        <tr>
                            <td id="30" class="field bordered 3"></td>
                            <td id="31" class="field bordered 3"></td>
                            <td id="32" class="field bordered right 3"></td>
                        </tr>
                        <tr>
                            <td id="33" class="field bordered 3"></td>
                            <td id="34" class="field bordered 3"></td>
                            <td id="35" class="field bordered right 3"></td>
                        </tr>
                        <tr>
                            <td id="36" class="field bordered bottom 3"></td>
                            <td id="37" class="field bordered bottom 3"></td>
                            <td id="38" class="field bordered right bottom 3"></td>
                        </tr>
                    </table>
                </td>
                <td id="4">
                    <table class="localBoard">
                        <tr>
                            <td id="40" class="field bordered 4"></td>
                            <td id="41" class="field bordered 4"></td>
                            <td id="42" class="field bordered right 4"></td>
                        </tr>
                        <tr>
                            <td id="43" class="field bordered 4"></td>
                            <td id="44" class="field bordered 4"></td>
                            <td id="45" class="field bordered right 4"></td>
                        </tr>
                        <tr>
                            <td id="46" class="field bordered bottom 4"></td>
                            <td id="47" class="field bordered bottom 4"></td>
                            <td id="48" class="field bordered right bottom 4"></td>
                        </tr>
                    </table>
                </td>
                <td id="5">
                    <table class="localBoard">
                        <tr>
                            <td id="50" class="field bordered 5"></td>
                            <td id="51" class="field bordered 5"></td>
                            <td id="52" class="field bordered right 5"></td>
                        </tr>
                        <tr>
                            <td id="53" class="field bordered 5"></td>
                            <td id="54" class="field bordered 5"></td>
                            <td id="55" class="field bordered right 5"></td>
                        </tr>
                        <tr>
                            <td id="56" class="field bordered bottom 5"></td>
                            <td id="57" class="field bordered bottom 5"></td>
                            <td id="58" class="field bordered right bottom 5"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                    <td id="6">             
                        <table class="localBoard">
                            <tr>
                                <td id="60" class="field bordered 6"></td>
                                <td id="61" class="field bordered 6"></td>
                                <td id="62" class="field bordered right 6"></td>
                            </tr>
                            <tr>
                                <td id="63" class="field bordered 6"></td>
                                <td id="64" class="field bordered 6"></td>
                                <td id="65" class="field bordered right 6"></td>
                            </tr>
                            <tr>
                                <td id="66" class="field bordered bottom 6"></td>
                                <td id="67" class="field bordered bottom 6"></td>
                                <td id="68" class="field bordered right bottom 6"></td>
                            </tr>
                        </table>
                    </td>
                    <td id="7">
                        <table class="localBoard">
                            <tr>
                                <td id="70" class="field bordered 7"></td>
                                <td id="71" class="field bordered 7"></td>
                                <td id="72" class="field bordered right 7"></td>
                            </tr>
                            <tr>
                                <td id="73" class="field bordered 7"></td>
                                <td id="74" class="field bordered 7"></td>
                                <td id="75" class="field bordered right 7"></td>
                            </tr>
                            <tr>
                                <td id="76" class="field bordered bottom 7"></td>
                                <td id="77" class="field bordered bottom 7"></td>
                                <td id="78" class="field bordered right bottom 7"></td>
                            </tr>
                        </table>
                    </td>
                    <td id="8">
                        <table class="localBoard">
                            <tr>
                                <td id="80" class="field bordered 8"></td>
                                <td id="81" class="field bordered 8"></td>
                                <td id="82" class="field bordered right 8"></td>
                            </tr>
                            <tr>
                                <td id="83" class="field bordered 8"></td>
                                <td id="84" class="field bordered 8"></td>
                                <td id="85" class="field bordered right 8"></td>
                            </tr>
                            <tr>
                                <td id="86" class="field bordered bottom 8"></td>
                                <td id="87" class="field bordered bottom 8"></td>
                                <td id="88" class="field bordered right bottom 8"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
    </table>

    <div style="width:500px; height:500px;">
        <h1>Chat</h1>
        <ul id="chat"></ul>
        <input id="textfield" type="text" placeholder="Type in your message">
        <button id="sender">Send</button>
    </div>
</body>

</html>

