* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#game {
    width: inherit;
    height: inherit
}

.chatbox {
    width: 25%;
    background: #fff;
    box-shadow: 0 3px #faf;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 650px;
    background: #fbfbfb;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
    border-radius: 50%;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img {
    width: 100%;
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    background: #1ddced;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.friend .chat-message {
    background: #1adda4;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: #fbfbfb;
    width: 75%;
    height: 80px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 15px;
    color: #333;
}

.chat-form textarea:focus {
    background: rgb(173, 138, 138);
}

.chat-form button {
    background: #1ddced;
    padding: 5px, 15px;
    height: 50px;
    width: 25%;
    font-size: 25px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px #0eb2c1;
    cursor: pointer;
}

.chat-form button:hover {
    background: #5fbec7;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

body {
    background: hsl(234, 21%, 36%);
    color: black;
}

table {
    background-color: hsl(234, 21%, 36%);
    border-collapse: collapse;
    margin: 5px auto;
}

#welcome-info {
    font-size: 30px;
    text-align: center;
}

.box {
    float: left;
    height: 800px;
    padding: 15px;
    background: hsl(234, 21%, 36%);
    box-sizing: border-box;
}

.smallbox {
    width: 10%;
}

.gamebox {
    align-items: center;
    width: 65%;
}

#globalboard {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
    border: 5px black solid;
}

.field {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

.field:hover {
    background-color: yellowgreen;
}

.finishedlocal {
    width: 185px;
    height: 185px;
    vertical-align: center;
    text-align: center;
    font-size: 55px;
    border: 2px solid black;
}

.takenbyx {
    color: black;
}

.takenbyy {
    color: white;
}

.localboard {
    width: 200px;
    height: 200px;
}

.bordered {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.clue {
    background-color: indianred;
}