body{
    background-color: darkgrey;
    color: black;
}
.field {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.field:hover {
    background-color: yellowgreen;
}
table {
    background-color: cadetblue;
    border-collapse: collapse;
    margin: 5px auto;
}
#welcomeInfo {
    font-size: 30px;
    text-align: center;
}
.finishedLocal {
    width: 185px;
    height: 185px;
    vertical-align: center;
    text-align: center;
    font-size: 55px;
    border: 2px solid black;
}
.takenByX {
    color: rgb(241, 237, 28);
}
.takenByY {
    color: rgba(179, 0, 0, 0.692);
}
#globalBoard {
    width:600px;
    height: 600px;
}
.localBoard {
    width: 200px;
    height: 200px;
}
.bordered {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.clue {
    background-color: indianred;
}